<div class="navbar">
    <div class="navbar-container">
        <div class="logo-container">
            <h1 class="logo">Let's chill with me</h1>
        </div>
        <div class="menu-container">
            <ul class="menu-list">
                <li class="menu-list-item active">Home</li>
                <li class="menu-list-item">Movies</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="content-container">
        <div class="movie-list-container">
            <h1 class="movie-list-title">Phim mới ra mắt</h1>
            <div class="movie-list-wrapper">
                <div class="movie-list">
                    {{#each data}}
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{this.poster_url}}" alt="">
                            <span class="movie-list-item-title">{{this.name}}</span>
                            <a href="/phim/{{this.slug}}" class="movie-list-item-button">Watch</a>
                        </div>
                    {{/each}}

                </div>
                <i class="fas fa-chevron-right arrow"></i>
            </div>
        </div>
    </div>
</div>