<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet"/>
    <script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>
<body>
{{{body}}}

<script>
    const player = videojs('my-video');
</script>
</body>
</html>
